<script id="canvas_nest" defer="defer" color="0,0,255" opacity="0.7" zIndex="-1" count="150" mobile="false"
	src="/js/pen.js"></script>
<style>
	.anchorjs-link {
		transition: all .25s linear;
		margin-left: -0.25em !important;
	}

	*:hover>.anchorjs-link {
		margin-left: 0.1875em !important;
	}

	.main-inner,
	header,
	.sidebar-inner,
	.animated {
		border-radius: 5px !important;
	}

	.custom-logo-image {
		height: 50px;
	}
</style>
<!-- <script src="/js/anchor.min.js" onload="anchors.add();"></script> -->
<script type="module">
	import '/js/anchor.min.js';
	function addAnchors() {
		if (window.location.pathname!==''&&window.location.pathname!=='/'&&window.location.pathname!=='/index.html') {
			anchors.add();
		}
	}
	document.addEventListener('DOMContentLoaded', () => {
		addAnchors();
	});
	setInterval(() => {addAnchors(); }, 5000);
</script>



